@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,
::after,
::before {
    box-sizing: border-box;
}


h4{
    font-family: 'Poppins', sans-serif;
    color: var(--bs-emphasis-color);
    font-size:1.275rem;
}
h2{
    font-family: 'Poppins', sans-serif;
    color: var(--bs-emphasis-color);
    font-size:2.5rem;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 0.875rem;
    margin:0;
    padding:0;
    opacity: 1;
    overflow-y: scroll;
    background : white;
}

a{
    font-family: 'Poppins',sans-serif;
    text-decoration: none;
    cursor: pointer;
}

/* layout for dashboard skeleton*/
.container{
    display: flex;
    align-items: stretch;
    width: 100%;
    margin:0;
    padding:0;
    max-width: 100%;
}

#sidebar{
    max-width: 264px;
    min-width: 264px;
    background: #01285e;
    transition: all 0.35s ease-in-out;
    margin-right:0;
}

.main{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 0;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    width: 100%;
    background : #528cd3;
}

/* sidebar elements style */
.user-name{
    padding:1.15rem;
}
.user-name a{
    color: #e9ecef;
    font-size:1.15rem;
    font-weight: 600;
}

.sidebar-nav{
    flex-grow:1;
    list-style: none;
    padding-left:0;
    margin-bottom: 0;
    margin-left: 0;
}

.sidebar-header{
    color:#e9ecef;
    font-size:.75rem;
    padding: 1.5rem 1.5rem .375rem;
}

a.sidebar-link{
    padding: .625rem 1.625rem;
    color:#e9ecef;
    position: relative;
    display: block;
    font-size: 0.875rem;
}

.avatar{
    height:40px;
    width: 40px;
}

.navbar-expand .navbar-nav{
    margin-left:auto;
}

 /* styling for main content */
.content{
    margin: 0;
    flex-grow: 1;
    flex:1;
    max-width: 100vw;
    width:100vw;
}

@media (min-width:768px) {
    .content{
        max-width: auto;
        width: auto;
    }
}

.card{
    box-shadow: 0 0 .875rem 0 rgba(34, 46, 60, 0.5);
    margin-bottom: 24px;
}

.illustration{
    background-color: var(--bs-primary-bg-subtle);
    color:var(--bs-emphasis-color);
}

.illustration-img{
    max-width: 150px;
    width: 100%;
}
/* table styling  */
.table{
    color:black;
}
tr:nth-child(even) {
    background-color: #98c4fa;
}

thead{
    background-color: #214775;
    color:white;
}





